* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
}

figure {
  margin: 0;
}

:root {
  /* Fonts */
  --uv-font-headings: var(--wp--preset--font-family--open-sans);
  --uv-font-sans: var(--wp--preset--font-family--dosis);

  /* Font sizes */
  --uv-font-size-xs: 0.563rem;
  --uv-font-size-s: 0.75rem;
  --uv-font-size-default: 1rem;
  --uv-font-size-m: 1.313rem;
  --uv-font-size-lg: 1.75rem;
  --uv-font-size-xl: 2.375rem;
  --uv-font-size-2xl: 3.188rem;
  --uv-font-size-3xl: 4.188rem;

  /* Colors */
  --uv-color-dark: #372c1d;
  --uv-color-light: #ffffff;
  --uv-color-gray: #efebe6;
  --uv-color-accent: #f28e00;
  --uv-color-accent-300: #f7bb66;
  --uv-color-accent-200: #fad299;
  --uv-color-accent-100: #fce8cc;

  /* Layout settings */
  --uv-content-size: 50rem;
  --uv-wide-size: 75rem;

  --uv-layout-grid: [full-start] minmax(0, 1fr) [wide-start]
    minmax(0, calc((var(--uv-wide-size) - var(--uv-content-size)) / 2))
    [content-start] minmax(0, var(--uv-content-size)) [content-end]
    minmax(0, calc((var(--uv-wide-size) - var(--uv-content-size)) / 2))
    [wide-end] minmax(0, 1fr) [full-end];

  /* Spacing */
  --uv-spacing-s: 12px;
  --uv-spacing-default: 16px;
  --uv-spacing-m: 24px;
  --uv-spacing-l: 32px;
  --uv-spacing-xl: 40px;
  --uv-spacing-2xl: 48px;
  --uv-spacing-3xl: 64px;
  --uv-spacing-4xl: 100px;
}

/* TYPOGRAPHY */

.container,
.editor-styles-wrapper {
  p,
  li,
  input,
  button,
  .wp-block-button__link {
    font-family: var(--uv-font-sans);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--uv-font-headings);
  }

  .link-card {
    a {
      text-decoration: none;
    }
  }
}

/* MAIN LAYOUT */

.container {
  display: grid;
}

.site-header {
  position: fixed;
  z-index: 999;
  /* top: 0; */
  left: 0;
  width: 100%;

  padding: var(--uv-spacing-m) var(--uv-spacing-2xl);
  display: grid;

  transition: all 0.3s;

  .site-header__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--uv-spacing-m);
    align-items: center;
  }

  .site-header__branding {
    img {
      width: 120px;
      transition: all 0.3s;
    }
  }

  &.site-header--scrolled {
    padding-block: 0;
    height: 80px;
    background-color: var(--uv-color-light);

    .site-header__branding {
      img {
        position: absolute;
        width: 100px;
        top: 0;
      }
    }

    .site-menu {
      a {
        color: var(--uv-color-dark);
      }
    }

    .button__text {
      color: var(--uv-color-dark);
    }
  }

  @media screen and (max-width: 1240px) {
    padding: 24px 24px;
    .site-header__inner {
      grid-template-columns: 120px 1fr 1fr;
    }

    .site-header__branding {
      img {
        width: 100px !important;
      }
    }
  }

  @media screen and (max-width: 1100px) {
    .site-header__inner {
      grid-template-columns: 80px 1fr 1fr;
      gap: 1.25rem;
    }

    .site-header__branding {
      img {
        width: 80px !important;
      }
    }
  }

  @media screen and (max-width: 900px) {
    .site-header__inner {
      grid-template-columns: 80px 1fr;
    }
  }

  @media screen and (max-width: 766px) {
    padding: var(--uv-spacing-default);
  }
}

.site-menu {
  justify-self: center;
  ul {
    display: flex;
    gap: var(--uv-spacing-2xl);
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    white-space: nowrap;
    color: var(--uv-color-light);
    text-decoration: none;
    font-size: var(--uv-font-size-m);
    font-weight: 600;
  }

  @media screen and (max-width: 1240px) {
    ul {
      gap: var(--uv-spacing-m);
    }
  }

  @media screen and (max-width: 1100px) {
    a {
      font-size: 1.125rem;
    }
  }

  @media screen and (max-width: 900px) {
    display: none;
  }
}

.top-buttons {
  justify-self: end;

  .top-buttons__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: var(--uv-spacing-2xl);
  }

  .top-buttons__item {
    &.top-buttons__item--hidden {
      display: none;
    }
  }

  @media screen and (max-width: 1240px) {
    .top-buttons__list {
      gap: var(--uv-spacing-m);
    }
  }

  @media screen and (max-width: 900px) {
    .top-buttons__item {
      display: block !important;
    }
  }

  @media screen and (max-width: 766px) {
    .top-buttons__item {
      &.language-button {
        display: none !important;
      }
    }
  }
}

.button {
  display: flex;
  align-items: center;
  gap: var(--uv-spacing-s);
  background: none;
  padding: 0;
  border-radius: 0;
  border: 0;
  color: var(--uv-color-light);

  .button__text {
    font-size: var(--uv-font-size-m);
    font-weight: 600;

    &.button__text--responsive {
      display: none;
    }
  }

  .button__icon {
    background-color: var(--uv-color-accent);
    padding: 10px;
    height: 38px;
    width: 38px;
    border-radius: 100%;
    display: flex;
    align-items: center;

    &.button__icon--chevron {
      svg {
        transform: translateY(1px);
      }
    }
  }

  @media screen and (max-width: 1100px) {
    gap: 0.5rem;

    .button__text {
      display: none;
      font-size: 1.125rem;

      &.button__text--responsive {
        display: block;
      }
    }
  }
}

.responsive-menu {
  position: fixed;
  width: 100%;
  min-height: 100dvh;
  z-index: 2;
  background-color: var(--uv-color-light);
  color: var(--uv-color-dark);
  display: none;

  &.responsive-menu--visible {
    display: grid;
  }

  .responsive-menu__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: var(--uv-spacing-2xl);
  }

  .close-menu {
    align-self: flex-end;
    margin-right: 10rem;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--uv-spacing-m);

    a {
      font-size: var(--uv-font-size-lg);
      color: var(--uv-color-dark);
      text-decoration: none;
    }
  }

  .button {
    .button__text {
      color: var(--uv-color-dark);
    }
  }

  @media screen and (min-width: 900px) {
    display: none !important;
  }
}

.site-content {
  min-height: 80dvh;
}

.gutenberg {
  display: grid;
  grid-template-columns: var(--uv-layout-grid);

  /* Lägg till dessa inställningar till gutenberg-container */
  & > * {
    grid-column: content;
  }

  & > .alignwide {
    grid-column: wide;
  }

  & > .alignfull {
    grid-column: full;
  }

  /* .wp-block-cover {
    position: relative;
  } */

  /* .gutenberg {
    & .wp-block-cover {
      & .paus {
        opacity: 1;
      }
    }
  } */

  /* .wp-block-cover__video-background {
    visibility: hidden;
  } */

  /* PAUSKNAPP - EGEN */
  /* .pausknapp {
    position: absolute;
    bottom: -200px;
    left: 48px;
  } */
  .pausknapp {
    display: none;
  }

  /* .hero {
    position: relative;
  }

  .pausknapp {
    position: absolute;
    bottom: 48px;
    left: 48px;
  } */

  /* Göra hela kortet klickbart */
  .link-card {
    a {
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 400px;
      }
    }
  }
}

.video-control {
  position: absolute;
  left: var(--uv-spacing-2xl);
  bottom: var(--uv-spacing-2xl);
  z-index: 5;

  display: flex;
  align-items: center;
  gap: var(--uv-spacing-s);
  background: none;
  padding: 0;
  border-radius: 0;
  border: 0;

  text-transform: uppercase;

  color: var(--uv-color-light);
  background-color: rgba(255 255 255 / 30%);
  padding: 10px 20px;
  border-radius: 99px;
  font-size: var(--uv-font-size-default);
  font-weight: 600;

  .video-control__icon {
    width: 12px;
  }

  @media screen and (max-width: 766px) {
    left: var(--uv-spacing-m);
    bottom: var(--uv-spacing-m);
  }
}

/* Gutenberg blocks */

.hero {
  @media screen and (max-width: 1240px) {
    .hero__title {
      line-height: 100%;
    }
  }

  @media screen and (max-width: 1100px) {
    .hero__title {
      font-size: 4rem !important;
      line-height: 5.625rem;
    }
  }

  @media screen and (max-width: 766px) {
    .hero__title {
      font-size: 3rem !important;
      line-height: 100%;
      white-space: wrap !important;
    }

    .hero__welcome {
      font-size: 1.5rem !important;
      line-height: 100%;
    }

    .hero__cta {
      a {
        font-size: 1rem !important;
        line-height: 100%;
      }
    }

    .hero__content {
      gap: 10px !important;
    }
  }
}

.card-grid {
  .link-card:nth-child(1) {
    order: 10;
  }
  .link-card:nth-child(2) {
    order: 20;
  }
  .link-card:nth-child(3) {
    order: 30;
  }
  .link-card:nth-child(4) {
    order: 40;
  }
  .link-card:nth-child(5) {
    order: 50;
  }
  .link-card:nth-child(6) {
    order: 60;
  }
  .link-card:nth-child(7) {
    order: 70;
  }
  .link-card:nth-child(8) {
    order: 80;
  }

  @media screen and (max-width: 1240px) {
    grid-template-columns: 1fr 1fr 1fr !important;

    .link-card:nth-child(4) {
      grid-column: span 2;
      order: 40;
    }
    .link-card:nth-child(5) {
      grid-column: span 1;
      order: 60;
    }
    .link-card:nth-child(6) {
      order: 50;
    }
    .link-card:nth-child(7) {
      grid-column: span 2;
      order: 80;
    }
    .link-card:nth-child(8) {
      order: 70;
    }
  }

  @media screen and (max-width: 1100px) {
    grid-template-columns: 1fr 1fr !important;

    .link-card:nth-child(5) {
      order: 50;
    }
    .link-card:nth-child(6) {
      grid-column: span 1;
      order: 60;
    }
    .link-card:nth-child(7) {
      grid-column: span 1;
      order: 80;
    }
    .link-card:nth-child(8) {
      order: 70;
    }
  }

  @media screen and (max-width: 766px) {
    grid-template-columns: 1fr !important;

    .link-card {
      grid-column: span 1 !important;
    }
  }
}
